PORT = 5000
DATABASE_URL = "your mongodb database url"

SALT_ROUND = 12
JWT_SECTET = jwt_secret
JWT_EXPIRES = "3d"

CLOUD_NAME = "your cloudinary cloud name"
API_KEY = api key #number
API_SECRET = api secret

STRIPE_API_KEY = "strip key"


DOMAIN_URL = "http://localhost:3000" #front-end url
NODE_ENV = "development"
# this two field is used for sending email to rest password
EMAIL = "your email"
PASSWORD = "password"
